<!-- PARTIAL: HEADER ELEMENT -->
<!-- This partial defined the header, i.e., the green bar at the top of Tiny App.
-->
<header>

  <!-- NAVIGATION BAR -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">

    <!-- TINY APP HEADER -->
    <a class="navbar-brand" href="/urls">Tiny App</a>


    <!-- DEFINES A BUTTON ELEMENT FOR THE NAVBAR -->
    <button

      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <!-- THE NAVIGATION BAR (Contains Links (My URLs, Create New URL) & Form) -->
    <!-- Added a Style section to make the navigation bar elements appear in a
         row.
    -->
    <div id="navbarNavAltMarkup" style= "display: flex; flex-direction: row;">

      <!-- NAVBAR LINKS DIV -->
      <div class="navbar-nav">

          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>

      </div>


      <!-- FORM TO CAPTURE USER NAME -->
      <form method="POST" action="/login">

        <!-- INPUT TEXT FIELD -->
        <input
          type="text"
          name="username"
          placeholder="Enter Username"
        />

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

    </div>

  </nav>

</header>