<!-- PARTIAL: HEADER ELEMENT -->
<header>

  <!-- NAVIGATION BAR -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">

    <!-- TINY APP HEADER -->
    <a class="navbar-brand" href="/urls">Tiny App</a>


    <!-- DEFINES A BUTTON ELEMENT FOR THE NAVBAR -->
    <button

      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <div id="navbarNavAltMarkup" style= "display: flex; flex-direction: row;">

      <!-- NAVBAR LINKS DIV -->
      <div class="navbar-nav">

          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>

      </div>
    </div>


    <div style="display: flex; flex-direction: row;">

      <!-- LOGIN FORM -->
      <!-- If `user` value (is the `user_id`. E.g. `user119`) is passed into the
           header, the user is logged in, so display the logged in form. -->
      <% if(user) { %>

          <p class="nav-item nav-link"
            style="display: inline; margin-bottom: 0; color: #FFFFFF;">Logged in as: <%= user.email %>!
          </p>

          <form method="POST" action="/logout">
             <!-- SUBMIT BUTTON (TO LOGOUT) -->
            <button type="submit"
              class="btn btn-outline-light" style="display: inline;">Logout
            </button>
          </form>

      <!-- If `user_id` is NOT passed into the header, the user is NOT logged
           in, so display the log in form. -->
      <% } else { %>

        <form method="POST" action="/login">
          <input
            type="text"
            name="email"
            placeholder="Enter Email"
          />

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      <% } %>

    </div>
  </nav>
</header>