<!-- PARTIAL: HEADER ELEMENT -->
<header>

  <!-- NAVIGATION BAR -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">

    <!-- TINY APP HEADER -->
    <a class="navbar-brand" href="/urls">Tiny App</a>


    <!-- DEFINES A BUTTON ELEMENT FOR THE NAVBAR -->
    <button

      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <div id="navbarNavAltMarkup" style= "display: flex; flex-direction: row;">

      <!-- NAVBAR LINKS DIV -->
      <div class="navbar-nav">

          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>

      </div>
    </div>


    <div style="display: flex; flex-direction: row;">

      <!-- FOR A LOGGED IN USER  -->
      <!-- If `user` value (is the `user_id`. E.g. `user119`) is passed into the
           header, the user is logged in, so display the log out form. -->
      <% if(user) { %>


          <!-- LOGOUT BUTTON -->
          <form method="POST" action="/logout">

            <button type="submit"
              class="btn btn-outline-light" style="display: inline;">Logout
            </button>

          </form>

      <!-- IF A USER IS NOT LOGGED IN  -->
      <!-- If `user_id` is NOT passed into the header, the user is NOT logged
           in, so display the `login` and `register` forms. -->
      <% } else { %>

        <!-- LOGIN BUTTON -->
        <form method="GET" action="/login">

          <button type="submit"
            class="btn btn-outline-light" style="display: inline; margin-right: 15px;">Login
          </button>

        </form>

        <!-- REGISTER BUTTON -->
        <form method="GET" action="/register">

          <button type="submit"
            class="btn btn-outline-light" style="display: inline;">Register
          </button>

        </form>

      <% } %>

    </div>
  </nav>
</header>