<!-- URLs NEW WEB PAGE
  This page shows you a form where you can submit a new URL to the website.
-->

<!DOCTYPE html>
<html lang="en">

  <!-- THE HEAD ELEMENT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- TAB TITLE -->
    <title>New URL - TinyApp Example</title>

  </head>


  <!-- THE BODY ELEMENT -->
  <body>

      <!-- Note: `username` is being passed in because `_header.ejs` requires it. -->
    <%- include('partials/_header', username) %>

    <main style="margin: 1em;">

      <h3>Create TinyURL</h3>

      <!-- FORM (POST: Creates New Data) -->
      <!-- Note that the form has two important elements: `action` and `method`.
           The `action` attribute tells the form which URL to submit to while
           the `method` attribute tells the form which HTTP method to use when
           submitting the form.
      -->
      <form class="form-inline" action="/urls" method="POST">

        <div class="form-group mb-2">

          <label for="longURL">Enter a URL:</label>

          <!-- THE FORM

               The `input` tag also has an important attribute: `name`. This
               is the name (key) of the data it is returning. In this case,
               it adds the key `longURL` to the data we'll be sending in the
               body of our POST request.


               ADD A POST ROUTE TO RECEIVE THE FORM SUBMISSION

               "So, now we should be able to see the new form in the browser
               at `/urls/new`. What happens when this form is submitted? Note
               the following about the form:

                 * The form has an action attribute set to `/urls`.
                 * The form's method is set to `POST`.
                 * The form has one named input, with the `name` attribute set
                   to `longURL`.

               This means when this form is submitted, it will make a request
               to `POST /urls`, and the body will contain one URL-encoded
               name-value pair with the name `longURL`.

               The raw POST will look something like this (many headers omitted
               for brevity):

                 POST /urls HTTP/1.1
                 Accept: text/html, ...
                 Content-Length: 31
                 Content-Type: application/x-www-form-urlencoded; charset=utf-8
                 Host: localhost
                 User-Agent: Mozilla/5.0...

                 longURL=http%3A%2F%2Fgoogle.com


               EXAMINING THE POST REQUEST WITHIN THE BROWSER

               "Using the Chrome Dev Tools, open up the `Network` tab. Enter
               some data into the form and submit it. Inspect the `POST` request
               inside the `Network` tab."

               "We need to define the route that will match this `POST` request
               and handle it. "
          -->
          <input
            class="form-control"
            type="text"
            name="longURL"
            placeholder="http://"
            style="width: 300px; margin: 1em"
          />
          <button type="submit" class="btn btn-primary">Submit</button>

        </div>

      </form>

    </main>


    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

  </body>
</html>